<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{title.experiencia}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
</head>

<body>
    <div class="container ">
        <div class="jumbotron">
            <h1>Jorge Luis Liberata</h1>
        </div>
        <div class="amarillo" id="redondo">
            <h1>Experiencia Profesional</h1>

            <ol>
                {% for exp in experiencias %}
                <li> {{exp}}</li>
                {% endfor %}
            </ol>
        </div>
    </div>
</body>

</html>